* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;

  background-image: linear-gradient(
    to top left,
    #58d68d,
    #f7dc6f,
    #fadbd8,
    #d2b4de,
    #fa8072,
    #cd5c5c,
    #abb2b9,
    #ecf0f1 
  );
/* background-image: linear-gradient( blue,pink,red); */
  overflow-x: hidden;

/* background-repeat: no-repeat; */
}

.header h1 {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
  text-transform: uppercase;
}
.innerBox {
  margin: 20px auto;
  width: 300px;
  border: 2px solid black;
  border-radius: 5px;

  /* text-align: center; */
}
.innerBox:hover {
  box-shadow: 0px 10px 15px yellow;
}
.formBox {
  padding: 20px;
  background: linear-gradient(to top right, #ccccff, #b6d0e2, #eaddca);
}
.formBox label {
  display: block;
  padding: 10px 0;
  font-size: 25px;
  font-weight: bolder;
  text-transform: capitalize;
  text-align: center;
}

.formBox input {
  width: 100%;
  height: 30px;
  font-size: 15px;
  border: 2px teal;
  border-radius: 10px;
  text-align: center;
}
.formBox button {
  margin: 10px auto;
  background-color: #1e88e5;
  width: 100%;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid teal;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
.formBox button:hover {
  transform: scale(1.1);
  transition: 0.4s ease-in-out;
  background-color: #58d68d;
}

span {
  height: 500px;
  width: 1000px;
  border: 2px solid black;
}

.dataBox {
  margin: 5px 0;
  border: 2px solid black;
  /* height: 500px; */
  width: 300px;
  position: relative;
  left: 362px;
  top: 20px;
  font-family: bold, sans-serif;
  font-weight: bold;
  background: linear-gradient(
    to top right,
    #27ae60,
    #3498db,
    #af7ac5,
    #e74c3c,
    #e6b0aa
  );
}
.dataBox h3 {
  padding: 5px 2px;
}
